<div class="container-fluid videos">

  <!-- First Row -->
  <div class="row justify-content-md-center">

    <!-- 10 column Main part of the Page -->
    <div class="col-lg-10">
      <%= link_to 'Back', videos_path %>
      <h1>New Video</h1>

      <%= render 'form', video: @video %>

    </div>

  </div>
</div>
