<div class="container-fluid about">

  <!-- First Row -->
  <div class="row justify-content-md-center">

    <!-- 7 column Main part of the Page -->
    <div class="col-lg-7">
        <h1>About Us</h1>
    </div>

    <!-- 3 Column Right -->
    <div class="col-lg-3 ">
    </div>

  </div>

  <!-- Second Row -->
  <div class="row justify-content-md-center">
    <div class="col-lg-10">
    </div>
  </div>

</div>
