<div class="container-fluid about">

  <!-- First Row -->
  <div class="row justify-content-md-center">

    <!-- 10 column Main part of the Page -->
    <div class="col-lg-10">
        <h1>About Us</h1>
    </div>

  </div>

  <!-- Second Row -->
  <div class="row justify-content-md-center">
    <div class="col-lg-10">

      <div class="row justify-content-md-center">
        <!-- Phil -->
        <div class="col-lg-4 profile-container">
          <div class="profile">
            <h3>Phil</h3>
          </div>
        </div>

        <!-- Dave -->
        <div class="col-lg-4 profile-container">
          <div class="profile">
            <h3>Dave</h3>
          </div>
        </div>

        <!-- Daniel -->
        <div class="col-lg-4 profile-container">
          <div class="profile">
          <h3>Daniel</h3>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Third Row -->
  <div class="row justify-content-md-center">

    <!-- 10 column bottom -->
    <div class="col-lg-10">
        <h1>What We Do</h1>
    </div>

  </div>

</div>
