// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// font-family: 'Limelight', cursive;

.homepage{
  color: #ffffff;
  min-height: 100vh;
}

.homepage h1, .homepage h3 {
  margin-left: 5%;
  font-family: 'Limelight', cursive;
}

// title
.homepage h1{
  font-size: 4em;
  font-family: 'Dosis', sans-serif;
}

.homepage a {
  text-decoration: none;
  color: #56b8ff;
}

.homepage a:hover{
  text-decoration: underline;
}

// ********** Style related to instafeed **********
.instaimg img {
  margin-bottom: 30px;
  object-fit: cover;
  height: 255px;
  width: 255px;
}
.instaimg img:hover{
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
}
