// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// font-family: 'Limelight', cursive;

html{
  height: 100vh;
  width: 100vw;
  margin: none;
  background-image: url(https://static.pexels.com/photos/335393/pexels-photo-335393.jpeg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
}
.homepage{
  color: #ffffff;
}

.homepage h1, .homepage h3 {
  margin-left: 5%;
  font-family: 'Limelight', cursive;
}

// title
.homepage h1{
  font-size: 4em;
  font-family: 'Dosis', sans-serif;
}

.homepage a {
  text-decoration: none;
  color: #56b8ff;
}

.homepage a:hover{
  text-decoration: underline;
}
