// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// font-family: 'Limelight', cursive;

// title
.homepage h1{
  font-size: 4em;
  font-family: 'Dosis', sans-serif;
}

.homepage a {
  text-decoration: none;
  color: #56b8ff;
}

.homepage a:hover{
  text-decoration: underline;
}

// ********** related to video player **********
.landing-video{
  margin-top: 3.5%;
}
.more-videos{
  margin: 5% 0;
}
.video-link{
  height: 100px;
  width: 100px;
  background-color: #343512;
  margin: 0 1%;
}

// ********** MAP **********
.landing-map{
}

#mapdiv{
  height: 80vh !important;
  width: 80vw !important;
}


// ********** Style related to instafeed **********
.instaimg img {
  margin-bottom: 10px;
  object-fit: cover;
  width: 100px;
  height: 100px;
}
.instaimg img:hover{
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
}
