<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-left">
        <h3>Follow Us</h3>
          <!-- Social icons designed by Pixel Buddha from Flaticon https://www.flaticon.com/packs/logotypes-->
          <div class="social-icons">
            <!-- Instagram -->
            <a target="_blank" title="follow us on instagram" href="https://www.instagram.com/jaywalktheworld/">
              <%= image_tag("icons/instagram.png", alt: "Follow us on Instagram") %>
            </a>

            <!-- Facebook -->
            <a target="" title="follow us on facebook" href="https://www.facebook.com/jaywalktheworld/">
              <%= image_tag("icons/facebook.png", alt: "Follow us on Facebook")%>
            </a>

            <!-- Youtube -->
            <a target="_blank" title="follow us on youtube" href="https://www.youtube.com/channel/UCcGPKlO-xoexKtwQNbuxfMQ">
              <%= image_tag("icons/youtube.png", alt: "Follow us on Youtube")%>
            </a>

            <!-- Twitter -->
            <a target="_blank" title="follow us on twitter" href="https://twitter.com/jaywalktheworld">
              <%= image_tag("icons/twitter.png", alt: "Follow us on Twitter")%>
            </a>

          </div>
      </div>
      <div class="col">
        <!-- 1 of 3 -->
      </div>
      <div class="col">
        <!-- 1 of 3 -->
      </div>
    </div>
  </div>
</footer>
